@keyframes slideUpAnimation {
    0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0%);
      }
  }
  
  .greeting-container {
    background: linear-gradient(to bottom, #ff5d4c, white);
     /* Use a gradient to create a smooth color transition */ 
    /* background-color: #FF00FF; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideUpAnimation 1s ease-out; /* Add the animation property */
  }
  
  .greeting-container h1 {
    margin: 0;
  }
  