.portfolio{
    // background-color: lightgreen;
    background-image:linear-gradient(to top left, rgb(183, 183, 236),rgb(249, 191, 191));
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    // justify-content: center;
    h1{
        font-size: 60px;
        color: #15023a;
    }
    ul{
        list-style: none;
        margin: 10px;
        display: flex;
        gap: 10px;
        font-size: 15px;

        li{
            font-size: 20px;
            margin: 0px 15px ;
            padding: 10px;
        }
    }
    .container{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .item{
            width: 320px;
            height:250px;
            border-radius: 10px;
            border: 1px solid rgb(238, 238, 238);
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow-y: hidden;
            color: white;

               h3{
                position: absolute;
                font-size: 25px;
                opacity: 0;
               }

            .img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                // margin: 10px;
            }

            &:hover {
                background-color: #15023a;
                .img{
                    opacity: 0.2;
                    z-index: 0;
                }
                h3{
                    opacity: 1;
                }
            }
        }
        
    }
}