.emi{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    border: 1px solid rgb(218, 216, 216);
    padding: 0.5rem;
    margin: 1rem;
}
.emi-calculator{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.show-emi{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
}
.total-amount{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input-cost{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input{
    width: 80%;
    font-size: 1rem;
    font-weight:500;
    color: black;
    border: none;
    padding: 0.5rem;
    background-color: rgb(231, 230, 230);
    border-bottom: 0.5px solid rgb(218, 216, 216);
    outline: none;
}
.slider {
    appearance: none;  
    height: 0.8rem;
    background: #b1b0af ; 
    outline: none; 
    border-radius: 50px; 
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 0.8rem; 
  height: 0.8rem;
  border-radius: 50%;
  background: #FFFFFF; 
  cursor: pointer; 
}
.button-19 {
    width: 50%;
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-19:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-19:main,
  .button-19:focus {
    user-select: auto;
  }
  
  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-19:disabled {
    cursor: auto;
  }
  
  .button-19:active {
    border-width: 4px 0 0;
    background: none;
  }