.meanu{
    width: 300px;
    height: 100vh;
    background-color: #15023a;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      transition: all 1s ease-in;
    &.active{
        right: -300px;
    }

    ul{
        font-size: 30px;
        color: white;
        list-style: none;
        width: 60%;

        li{
            margin-bottom: 40px;
            

            a{
                color: inherit;
                font-weight: 200;
                text-decoration: none;

            }
            &:hover{
                font-size: 35px;
                font-weight: 700;
            }
        }
    }

}